<form *ngIf=currentUserExist class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card  text-dark" id="signUpForm" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <div class="mb-md-5 mt-md-4 pb-5">

              <h2 class="fw-bold mb-2 text-uppercase">Create post</h2>

              <div class="form-outline form-white mb-4">
                <input type="text" [(ngModel)]="title" id="title" name="title" class="form-control form-control-lg"/>
                <label class="form-label" for="title">Title</label>
              </div>
              <div class="form-outline form-white mb-4">
                <textarea id="text" [(ngModel)]="text" name="text" class="form-control form-control-lg"></textarea>
                <label class="form-label" for="text">Text</label>
              </div>




              <button class="btn-primary" *ngIf="title != '' && text !=''" (click)="createPost()" type="submit">Save</button>
              <button class="btn-primary" (click)="cancel()" type="submit">Cancel</button>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</form>
<app-forbidden-modal [instantClick]="true" *ngIf=!currentUserExist></app-forbidden-modal>


